#titulo,
.missao {
  font-family: Arial;
}

.introducao,
.missao {
  color: red;
}

/*
h1 {
  font-family: Verdana;
}

#titulo {
  color: blue;
}

.introducao {
  color: red;
}

p.missao {
  font-family: Arial;
}
*/
